@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}
